
html {
  font-size: 18px;
}

body {
  margin: 0;
}

/* ABOUTUS INFO*/

.aboutusInfo {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100vw;
    height: 46vw; 
      
    background-color: #FFFFFF;
   }
   
   .aboutusInfoImage {
     display: flex;
     flex-flow: column;
  }

  #floatingPerson{
    width: 50%;
    height: 50%;
    padding-top: 40%;
    padding-left: 20%;
  }

  #swimmingPerson{
    width: 50%;
    height: 50%;
    padding-left: 25%;
    padding-bottom: 20%;
  }
   
   .aboutusInfoContainer {
     display: flex;
     flex-flow: column;
     align-items: center;
     height: 52vw;
   }
   
   .title {
    display: flex;
    flex-flow: row;
    margin-bottom: 3vw;
    align-items: center;
    height: 3.4vw;
    width: 25.5vw;
    justify-content: space-between;

     font-family: 'Roboto';
     margin-top: 10vw;
     
     text-align: center;
   }

   #about {
    color: #167D7F;
    font-size: 1.4vw;
   }

   #pool {
     color: #ED99A0;
     font-size: 1.4vw;

   }
   
   .aboutusInfo p {
     width: 660px;
     
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 38px;
     text-align: center;
     margin-top: 25px;
     
     color: #1A5D5F;
   }
   

   /* MEET THE HOSTS */

   .meetTheHosts {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    width: 100vw;
    position: relative;
    height: 680px; 
         
    background-color: #ED99A0;
   }
   
   .meetTheHostsContainer {
    display: flex;
    flex-flow: column;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
  }

  .meetTheHosts h2 {
    display: flex;
    flex-flow: row;
    align-items: center;

    font-family: 'Roboto';
    font-style: normal;
    font-size: 3.33rem;
      
    color: #FFFFFF;
  }

  .hostProfiles {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 95%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .hostProfiles img {
    width: 100%;
    height: 100%;
    }

    .hostProfile1 {
        display: flex;
        flex-flow: column;
        align-items: center;

        padding-right: 2rem;
        padding-left: 2rem;
    }

    .hostProfile2 {
        display: flex;
        flex-flow: column;
        align-items: center;

        padding-right: 2rem;
        padding-left: 2rem;
    }

    .hostProfile3 {
        display: flex;
        flex-flow: column;
        align-items: center;

        padding-right: 2rem;
        padding-left: 2rem;
    }

    .hostProfile4 {
        display: flex;
        flex-flow: column;
        align-items: center;

        padding-right: 2rem;
        padding-left: 2rem;
    }

    .hostProfiles h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 20px;
        line-height: 38px;

        color: #FFFFFF;
    }

    .hostProfiles p {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 15px;
        line-height: 20px;

        color: #FFFFFF;
    }


    
    
