.footer { 
    display: flex;
    flex-flow: row;
    justify-content: center;
 
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 650px;
    left: 50%;
  
    background-color: #167D7F;
  }

  .footerContainer {
    display: flex;
    flex-flow: column;
    padding: 0vw;
    margin: 0vw;
    justify-content: center;
  }

  #PoYpfp {
    width: 210.53px;
    height: 200px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  }

  .footerLinks {
    display: flex;
    flex-flow: column;
    padding: 0vw;
    margin-right: -30px;
    justify-content: center;

    left: 1136px;
    top: 2602px;
  }
