a:visited {
  color: #29A0B1;
}

a::before {
  color: #29A0B1;
}


/* NAVBAR */
.navbar { 
   display: flex;
   flex-flow: row;
   justify-content: left;

   width: 100vw;
   position: relative;
   margin-left: -50vw;
   height: 117px;
   left: 50%;
   justify-content: space-between;
 
   background-color: white;
 }

 .navbar img {
  position: relative;
  left: 130px;
  top: 9px;
  
  width: 337.5px;
  height: 121.5px;
 }

 .navbarLinks {
  display: flex;
  flex-flow: row;
  justify-content: right;
 }

 #aboutUs {
   display: flex;
   flex-flow: column;
   justify-content: center;
   margin-right: 60px;

   font-family: 'Roboto';
   font-style: normal;
   font-weight: 1000;
   font-size: 18px;
   line-height: 38px;
   text-decoration: none;

   text-align: center;

   color: #29A0B1;
  }

 #viewProjects {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-right: 60px;

   font-family: 'Roboto';
   font-style: normal;
   font-weight: 1000;
   font-size: 18px;
   line-height: 38px;
   text-decoration: none;

   text-align: center;

   color: #29A0B1;
}

#apply {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-right: 60px;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 1000;
  font-size: 18px;
  line-height: 38px;
  text-decoration: none;

  text-align: center;

  color: #29A0B1;
}

#startStaking {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-right: 130px;
  margin-top: 35px;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 1000;
  font-size: 18px;
  line-height: 38px;
  text-decoration: none;

  text-align: center;

  background: #ED99A0;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

  width: 165px;
  height: 42px;

  color: white;
}



 
 