
/* OUR VISION SECTION*/
.ourVision {
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 height: 683px;
 left: 50%;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  background-color: white;
}

.ourVisionContainerText {
  display: flex;
  flex-flow: column;
  padding: 0vw;
  margin: 0vw;
}

.ourVision h2 {
  width: 190px;
  height: 41px;
  left: 125px;
  top: 198px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 38px;
  
  text-align: center;
  
  color: #167D7F;
}

.ourVision p {
width: 605px;
height: 310px;
left: 125px;
top: 302px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 38px;

color: #1A5D5F;
}

.ourVision img {
width: 564px;
height: 383px;
}


/*YOUTH PROJECTS SECTION*/

.youthProjects {
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 height: 800px;
 left: 50%;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  background-color: #98D7C2;
}

.youthProjectsContainer {
  display: flex;
  flex-flow: column;
  padding: 0vw;
  margin: 0vw;
  align-items: center;
}

.youthProjects h1 {
  width: 417px;
  height: 41px;
  left: 511px;
  top: 926px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 38px;
  
  text-align: center;
  
  color: white;
}

.slider {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  list-style-type: none;

  padding-top: 4vw;

  width: 100vw;
  margin-left: -50vw;
  left: 50%;
}

.youthProjects button {
  width: 215px;
  height: 74px;
  left: 612px;
  top: 1424px;
  margin-top: 1.3vw;

  background-color: white;
  border-radius: 10px;
  font-family: 'Roboto';
  color: #167D7F;
  font-weight: 600;
  font-size: 25px;
}



/* JOIN THE POOL PARTY SECTION */

.joinThePoolParty {
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 height: 800px;
 left: 50%;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  background-color: white;
}

.joinThePoolParty img {
  width: 150px;
  height: 200px;
}

.joinThePoolPartyContainer {
  display: flex;
  flex-flow: column;
  padding: 0vw;
  margin: 0vw;
  align-items: center;

}

.joinThePoolParty h1 {
  width: 417px;
  height: 41px;
  left: 511px;
  top: 926px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 38px;
  
  text-align: center;
  
  color: pink;
}

.joinThePoolParty p {
  width: 605px;
  height: 310px;
  left: 125px;
  top: 302px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  
  color: #1A5D5F;
}
