
/* YOUTH PROJECTS INFO*/

.youthProjectsInfo {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 683px;
  left: 50%;
 
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
 
   background-color: white;
 }
 
 .youthProjectsInfoImage {
   display: flex;
   flex-flow: column;
   padding: 0vw;
   margin: 0vw;
   align-items: center;
 }
 
 .youthProjectsInfoContainer {
   display: flex;
   flex-flow: column;
   padding: 0vw;
   margin: 0vw;
   align-items: center;
   height: 800px;
   width: 605px;
  }
 
 .youthProjectsInfo h1 {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 600;
   font-size: 40px;
   width: 393px;
   
   text-align: center;
 }

 #check {
   display: flex;
   flex-flow: row;
   padding: 0vw;
   margin: 0vw;
   align-items: center;
   height: 55px;
   margin-top: 170px;
   padding: 0%;

  color: #167D7F;
 }

 #fellow {
  display: flex;
  flex-flow: row;
  padding: 0vw;
  margin: 0vw;
  align-items: center;
  height: 55px;
  margin: 0%;
  padding: 0%;

  color: #ED99A0;
 }
 
 .youthProjectsInfo p {
  display: flex;
  flex-flow: row;
  padding: 0vw;
  margin: 0vw;
  align-items: center;
   
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 38px;
   text-align: center;
   margin-top: 25px;
   
   color: #1A5D5F;
 }
 
