
/* YOUTH PROJECTS INFO*/

.youthProjectsInfo {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 46vw;
  left: 50%;
 
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
 
   background-color: #FFFFFF;
 }
 
 .youthProjectsInfoImage {
   display: flex;
   flex-flow: column;
   align-items: center;
 }
 
 .youthProjectsInfoContainer {
   display: flex;
   flex-flow: column;
   align-items: center;
   width: 90%;
   height: 100%;
  }
 
 .youthProjectsInfo h1 {
   font-family: 'Roboto';
   font-style: normal;
   font-size: 3vw;
 }

 #check {
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
   height: 3vw;
   width: 100%;
   margin-top: 10vw;

  color: #167D7F;
 }

 #fellow {
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
   height: 3vw;
   width: 100%;
   margin-top: 0.5vw;

  color: #ED99A0;
 }
 
 .youthProjectsInfo p {
  display: flex;
  flex-flow: row;
  align-items: center;
   
   font-family: 'Roboto';
   font-style: normal;
   font-size: 1.4vw;
   text-align: center;
   margin-top: 2.5vw;
   
   color: #1A5D5F;
 }
 
